.container {
  padding: var(--container-padding);
}

.main-plate {
  width: 100%;
  height: 100%;

  background-color: var(--white-color);

  border-radius: var(--default-border-radius);

  main {
    padding: var(--default-padding);
  }
}