@use '@angular/material' as mat;

@import "./assets/helpers/color";
@import "./assets/helpers/mixins";
@import "./assets/helpers/variables";
@import "./assets/helpers/breakpoints";

*,
*::before,
*::after {
  margin: 0;

  padding: 0;

  box-sizing: border-box;
}

$debug: false;

@if ($debug) {
  * {
    border: 1px solid #ff0000;
  }
}

body {
  background-color: var(--background-color);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}